body, html, #root, .App {
  height: 100%;
}

.App {
  text-align: center;
}

/* .App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.page-title {
  margin-bottom: 10px;
}

h4 {
  margin: 10px;
}

h2 {
  margin: 3px;
  font-size: 15px;
}

.film-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.film {
  width: 40%;
  margin: 5px;
}

img {
  width: 90%;
}